.btn {
    position: relative;
    border-radius: 0.25rem;
    font-weight: var(--fw-700);
    font-size: var(--fs-200);
    transition: color 0.3s ease;
    min-width: 280px;
    text-transform: uppercase;

    &:hover {
        color: var(--col-light-400);
    }

}

.btn-green {
    background-color: var(--col-green-400);
    color: var(--col-light-400);
}
.btn-red {
    background-color: var(--col-red-400);
    color: var(--col-light-400);
}

.btn-filter {
    font-size: var(--fs-400);
    &:hover {
        border-bottom: 1px solid var(--col-red-400);
    }
    &.active {
        color: var(--col-red-400);
        border-bottom: 1px solid var(--col-red-400);
    }
}
.theme-light {
    .btn-filter {
        &:hover {
            color: var(--col-dark-400);
            border-bottom: 1px solid var(--col-green-400);
        }
        &.active {
            color: var(--col-green-400);
            border-bottom: 1px solid var(--col-green-400);
        }
    }
}