$col-primary: hsl(0, 0%, 20%);
$col-dark: hsl(0, 0%, 10%);
$col-darkest: hsl(0, 0%, 2%);
$col-highlight: hsl(23, 83%, 53%);
// $col-highlight: #eb7024;
$col-grey: #FFF0F0;

:root {

    --hsl-dark-400: 229deg 27% 8%; 
    --hsl-light-400: 0deg 14% 93%; 
    --hsl-green-400: 167.23deg 58.02% 31.76%; 
    --hsl-red-400: 350deg 78% 49%; 

    --col-dark-400: hsl(var(--hsl-dark-400));
    --col-light-400: hsl(var(--hsl-light-400));
    --col-green-400: hsl(var(--hsl-green-400));
    --col-red-400: #de1b3b; // hsl(var(--hsl-red-400));

    --h-top: 122px;

    --fw-400: 300;
    --fw-600: 500;
    --fw-700: 700;

    // --fs-900: 80px;
    --fs-900: clamp(1.96rem, 2.84vw + 1.56rem, 2.86rem);
    // --fs-700: 50px;
    --fs-700: clamp(1.07rem, 2.27vw + 0.75rem, 1.79rem);
    // --fs-600: 40px;
    --fs-600: clamp(0.86rem, 1.82vw + 0.6rem, 1.43rem);
    --fs-500: 35px;
    // --fs-400: 28px;
    --fs-400: clamp(0.64rem, 1.14vw + 0.48rem, 1rem);
    --fs-300: 22px;
    --fs-200: 18px;

    --transition: 0.3s ease-out;

}