/* open-sans-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/open-sans-v35-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* open-sans-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/open-sans-v35-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* open-sans-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/open-sans-v35-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

:root {
    font-variant-ligatures: none;
}

html {
    // font-size: var(--fs-400);
    font-size: 26px;
}

body {
    font-family: 'Open Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: var(--fw-400);
    font-size: var(--fs-400);
    // line-height: 1.556;
    line-height: 1.4;
    font-style: normal;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


h1, .h1, h2, .h2, h3, .h3, h4, .h4, .h99 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    margin-bottom: 0.5rem;
    font-weight: var(--fw-600);
}

h1, .h1 {
    font-size: var(--fs-900);
}
h2, .h2 {
    font-size: var(--fs-700);
}
h3, .h3 {
    font-size: var(--fs-600);
}
h4, .h4 {
    font-size: var(--fs-500);
}
h5, .h5 {
    font-size: var(--fs-450);
}


strong, b {
    font-weight: var(--fw-900);
}

.w-constrained {
    max-width: 90ch;
    margin-inline: auto
}

.has-small-font-size {
    font-size: var(--fs-200);
}

.lined-title {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: space-around;
    margin: 5rem auto;
    line-height: 1em;
    text-transform: uppercase;
    font-size: var(--fs-400);
    letter-spacing: 0.15em;
    &::before, &::after {
        content: '';
        flex-grow: 1;
        max-width: 200px;
        margin: 0 4px;
    }
}

.theme-dark {
    .lined-title::before, .lined-title::after {
        background: linear-gradient(to right, var(--col-red-400), var(--col-red-400));
        background-size: 100% 2px;
        background-position: 0% 50%;
        background-repeat: repeat-x;
    }
}
.theme-light {
    .lined-title {
        color: var(--col-green-400);
        &::before, &::after {
            background: linear-gradient(to right, var(--col-green-400), var(--col-green-400));
            background-size: 100% 2px;
            background-position: 0% 50%;
            background-repeat: repeat-x;
        }
    }
}

.theme-dark {
    .dot {
        &::after {
            content: ".";
            color: var(--col-red-400);
        }
    }
}
.theme-light {
    .dot {
        &::after {
            content: ".";
            color: var(--col-green-400);
        }
    }
}

.mb-6 {
    margin-bottom: 5rem;
}
.my-6 {
    margin-block: 5rem;
}